<ion-card *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]" class="ion-skeleton-text-color" color="dark">
  <ion-card-header>
    <ion-card-subtitle>
      <span>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      </span>
      <span>
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </span>
    </ion-card-subtitle>
    <ion-card-title>
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <p>
      <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
    </p>
  </ion-card-content>
</ion-card>